.w-nav-link.w--current {
    border-top: 3px solid #48BDED;
    background: -webkit-linear-gradient(-180deg, rgba(73, 190, 239, 0.05) 0%, rgba(255, 255, 255, 0.0005) 48%, rgba(253, 254, 255, 0) 49%, rgba(73, 190, 239, 0.049) 99%, rgba(253, 254, 255, 0.05) 100%);
    background: -moz-linear-gradient(-180deg, rgba(73, 190, 239, 0.05) 0%, rgba(255, 255, 255, 0.0005) 48%, rgba(253, 254, 255, 0) 49%, rgba(73, 190, 239, 0.049) 99%, rgba(253, 254, 255, 0.05) 100%);
    background: -o-linear-gradient(-180deg, rgba(73, 190, 239, 0.05) 0%, rgba(255, 255, 255, 0.0005) 48%, rgba(253, 254, 255, 0) 49%, rgba(73, 190, 239, 0.049) 99%, rgba(253, 254, 255, 0.05) 100%);
    background: -ms-linear-gradient(-180deg, rgba(73, 190, 239, 0.05) 0%, rgba(255, 255, 255, 0.0005) 48%, rgba(253, 254, 255, 0) 49%, rgba(73, 190, 239, 0.049) 99%, rgba(253, 254, 255, 0.05) 100%);
    background: linear-gradient(270deg, rgba(73, 190, 239, 0.05) 0%, rgba(255, 255, 255, 0.0005) 48%, rgba(253, 254, 255, 0) 49%, rgba(73, 190, 239, 0.049) 99%, rgba(253, 254, 255, 0.05) 100%);
    color: #299ecf;
}
input::-webkit-input-placeholder {
    color: #87d6f7 !important;
}
input:-moz-placeholder {
    color: #87d6f7 !important;
}
input::-moz-placeholder {
    color: #87d6f7 !important;
}
input:-ms-input-placeholder {
    color: #87d6f7 !important;
}
.w-slider-nav {
    bottom: 58px;
}
.price {
    position: relative;
}
.power {
    position: absolute;
    top: 0px;
    font-size: 14px;
}
.w-icon-slider-right:before {
    background: url(../images/right-arrow-icon.png);
    height: 35px;
    width: 35px;
    content: '';
    display: block;
}
.w-icon-slider-left:before {
    background: url(../images/right-arrow-icon.png);
    height: 35px;
    width: 35px;
    content: '';
    display: block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.w-slider-nav {
    z-index: 200;
}
.process-slider .w-slider-nav {
    bottom: 0px;
}
.w-slider-dot {
    background: transparent;
    border: 2px solid white;
    width: 10px;
    height: 10px;
}
.w-slider-dot.w-active {
    background: transparent;
    border: 5px solid #fff;
}
.facebook:hover, .twitter:hover, .load-more:hover, .close-icon:hover {
    cursor: pointer;
}
.testimonials-section {
    height: auto;
    max-height: 390px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.testimonials-section.open {
    max-height: 100%;
}
.benefit-text {
    letter-spacing: normal;
}
.slider-form .horizontal-delimiter {
    margin-top: 7px;
}
.submit {
    margin-top: 5px;
    padding: 5px 31px 4px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.submit:hover {
    background-color: #16c57d;
}
.slider-form {
    height: 382px;
}
.input {
    padding-bottom: 0;
    padding-top: 4px;
    color: rgb(59, 169, 206);
}
.nav-wrap {
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: rgba(0, 0, 0, 0.06) 1px 1px 15px 1px;
}
.navigation {
    height: 70px;
    background-color: #49beef;
    position: fixed;
    width: 100%;
    top: 0px;
}
.slider-section {
    top: 70px;
}
.cons-section {
    margin-top: 735px;
}
.cons-section .submit, .process-section .submit {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 1010;
    opacity: 0;
    -webkit-transition: visibility 0s ease 0.4s, opacity 0.4s ease;
    -o-transition: visibility 0s ease 0.4s, opacity 0.4s ease;
    transition: visibility 0s ease 0.4s, opacity 0.4s ease;
}
.overlay.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal {
    z-index: 1020;
}
.close-icon:hover {
    background-image: url(../images/close-icon-hover.png);
}
